*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit", serif;
    
    
}
a{ 
    text-decoration: none;
}

li{ 
    list-style: none;
}

/*---Styles for homepage start here --- */
#homepage{ 
    display: flex;
    flex-direction: column;
    
    background-color: rgba(255, 255, 255, 0.285);
    height: 100vh;
}

#homepage_name{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; 
    gap: 5vh;
    padding: 1rem 2rem;

}
/*#A8006D*/

#homepage_name h1{ 
    font-size: 72px ;
    line-height: 10vh ; 
    word-spacing: 2vh;
    color: #A90636;
    font-family: "Reggae One", serif;
    letter-spacing: 1.5px;
    
}

#homepage_name p{ 
    font-size: 4.5vh;
    line-height: 4vh;
    word-spacing: 1vh;
    padding-right: 2rem;
    max-width: 90%;
    font-family: "Nanum Brush Script", cursive;
    font-weight: lighter;
    
}

#homepage_main{
    padding-top: 1rem;
    
    display: flex;
    flex-direction: column-reverse;
    padding-left: 2rem;
}


.circle_red{
    border: none;
    background: #A90636;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    /*vertical-align:center;*/
    text-align:center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    margin-left: 4rem;
    
        

}

.button{
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 16pt;
    cursor: pointer;
    

 }

.button:hover{ 
    color: black;
    transition: 0s;
}

.circle_blue{ 
    border: none;
    background: #4F8FE6;
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    padding: 1% 2%;
    
 }





#homepage_footer{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    bottom: 0;
    padding-bottom: 5px;
    position: fixed;
    height: 20vh;
    width: 100vw;
    
    
    
       

 }

#homepage_footer hr{
    height: 2px;
    background-color: #4F8FE6;
    border-radius: 10px;
    border: none;
    
    
    
    width: 90vw;
    
}
#homepage_footer p{ 
    color: rgba(91, 91, 91, 0.285);
    font-size: 2vw;
    display: flex;
    bottom: 0;
    
    
 }

 /*---Styles for homepage ends here --- */


/*--- General style for pages strats here --- */

.pc{ 
    display: none;
}

#page{ 
    
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: visible;
    
    
}

#page_menu{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    gap: 10px;
    top: 0;
    padding: 1rem;
    height: 10vh;
    z-index: 1003;
    background-color: white;
    width: 100%;
    box-shadow: 0 0 10px 1px #4F8FE6;

}



.i_box{ 
    max-width: 30px;
    
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: end;
    transition: .3s;
}

.i_box a img{ 
    width: 100%;
}

.i_box img{ 
    
    width: 100%;
}










#search_color{ 
    border: solid;
    border-color: #A90636;
    border-radius: 15px;
    height: 30px;
    width: 150px;
    overflow: hidden;
    
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 10px;
    
    
    
    
    border-width: 1px;
    
}




#search_color i{ 
    color: #A90636;
    
    
    
}

#search_color input:focus ~i{ 
    display: none;
    transition: .2s;

}


#search_color input{
    border: none;
    outline: none;
    caret-color: #A90636;
    background-color: none;
    height: 35px;
    padding: 10px;
    
   
    

}






.hint{ 
    
    visibility: hidden;
    
    position: absolute;
    z-index: 1003;
    top: 8vh;
    background-color: rgba(255, 255, 255, 0.806);
    border-radius: 10px;
    
    
       
    
    padding: 5px;
    border: none;
    font-size: 10px;
    
    color: #4F8FE6;
    
    transition:  0.2s;
    
}

#search_color input:focus .hint{ 
    visibility: visible;
}
#search:hover  .hint{ 
    visibility: visible;
    
}



#menu-toggle{ 
    display: none;
}



.menu_icon i{ 
    color: #A90636;
    cursor: pointer;
    font-size: 24px;
}

.menu{ 
    display: none;
    width: 30%;
    position: absolute;
    top: 10vh;
    right: 0;
    border-radius: 15px;
    background-color: white;
    border-radius: 0;
    box-shadow: -1px 2px 4px  #4F8FE6;

}

.menu ul{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 2rem;

}

.menu ul li {
    text-align: center;
    padding: 10px 0;
}

.menu ul li a{ 
    
    color: grey;
    text-decoration: none;
}

.menu ul li:hover a{ 
    color: #A90636
}

.menu ul li:hover .exit{ 
    color: #A90636
}






.exit i{
    color: grey;
    cursor: pointer;
}


/*dont work???*/
#menu-toggle:checked ~ .menu{ 
    display: block;

}














#page_footer{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 1px #4F8FE6;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position:fixed; 
    bottom: 0;
    z-index: 1003;
    
    width: 100vw;
    height: 15vh;
    
    padding: 1rem;
    
    
    
}

#page_footer nav{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#mobile_footer{ 

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

#mobile_footer li{
    text-decoration: none;
    list-style: none;
    width: 40px;
    height: 50px;
    justify-content: space-between;
}

#random{
    height: 35px;
}



/*--- General style for pages ends here --- */




/*--- About page main content style starts here ---*/
#main_pages{ 
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    
    overflow: visible;
    top:15vh;
    bottom:15vh; 
    position: relative;
     
    
    max-width: 100%;
    max-height: max-content;

    padding-bottom: 10rem;
    margin-bottom: 2rem;
    
    
    
    
    
    
}



#principle_img_box{ 
    width: 100%;
    
    
    
    object-fit: hidden;
    
    
}

#principle_img_box img{ 
    width: 100%;
}

.about_story{
    width: 100vw;
    padding-left: 2rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}



.galery_box{ 
    display: inline-grid;
    grid-gap: 5px;
    grid-template-rows: 160px 160px;
    grid-template-columns: 160px 160px;
    grid-auto-rows: 150px;
    grid-auto-columns: 150px;
    max-width: 90vw;
    padding-bottom: 20vh;
    padding-left: 2rem;
    
}




[class^="grid-photo"]{
    
    display: grid;
    object-fit: contain;
    align-items: start;
    justify-content: start;
}


[class^="grid-photo"] img{ 
    width: 160px;
    height: 80px;
    flex: content;
}

[class^="grid-photo"] p{ 
    color: gray;
    font-size: 10pt;
    bottom: 0;
    
    
}

/*--- About page main content style ends here ---*/

/*--- Colors page main content style starts here ---*/
.colors_box{ 
    padding-top: 3rem;
    display: grid;
    grid-gap: 2rem;
    
    max-width: 90vw;
    padding-bottom: 20vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 2fr);
    
}




[class^="color_box"]{
    
    display: grid;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    gap:5px;
    overflow: wrap;
    

}


[class^="color_box"] .color{ 
    width: 100px;
    height: 100px;
    border: none;
    box-shadow: 0 0 4px 2px #4f8ee685;
    
}

[class^="color_box"] .color:hover { 
    
    box-shadow: 0 0 4px 2px #A90636;
    
}

[class^="color_box"] .color_buttons{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.2rem;
}

[class^="color_box"] .color_buttons img{ 
    
    width: 25px;
}



[class^="color_box"] .color_buttons i{ 
    
    color: #A90636;
}



/*--- Colors page main content style ends here ---*/

/*--- Palletes page main content style starts here 

1. переписать html 
2. добавить див в 4 для каждой кнопки 
3 разобраться с ауто грид


---*/



.pallete_box{
    
    
    display: grid;
    grid-gap: 2rem;
    direction: row;
    align-items: center;
    justify-items: center;
    
    
    max-width: 100vw;
    padding-left: 2rem;
    grid-template-columns: repeat(auto-fill);
    grid-template-rows: repeat(auto-fit);

}

.colors_number_2{ 
    display: inline-grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: 1, minmax(100px, 1fr);
    gap: 0.3rem;
}

.position2{ 
    
    z-index: 3;
}
.colors_number_3{ 
    display: inline-grid;
    grid-template-columns: repeat(3, minmax(70px, 1fr));
    grid-template-rows: 1, minmax(100px, 1fr);
    gap: 0.3rem;

}
.colors_number_4{ 
    display: inline-grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: repeat(2, minmax(100px, 1fr));
    gap: 0.3rem;
}



/*--- Palletes page main content style ends here ---*/


/*--- Privacy page main content style starts here ---*/

#main_pages ul, ol{ 
    padding-left: 1rem;
}


#main_pages ul li{ 
    list-style:circle;
    text-align: start;
    
}


#main_pages ol li{
    list-style:circle;
    

}

#main_pages h2, h3{ 
    text-align: start;
}

/*--- Privacy page main content style ends here ---*/






@media only  screen and (min-width:730px){



    #homepage_name{ 
        padding-top: 4rem;
        padding-left: 4rem;
        gap: 4rem;
    }

    #homepage_name h1{ 
        font-size: 8vw;
        letter-spacing: 3px;

    }

    #homepage_name p{ 
        font-weight: 600;
        font-size: 32pt;
        letter-spacing: 1.5px;
    }

    #homepage_main{ 
        flex-direction: row-reverse;
        align-items: center;
        justify-content: start;
        padding-left: 16rem;
        padding-top: 4rem;
    }

    .circle_blue{
        width: 114px;
        height: 114px;
        align-items: center;
        justify-content: center;

    }

    .circle_blue a{ 
        font-size: 22pt;
    }


    .circle_red{
        width: 200px;
        height: 200px;

    }

    .circle_red a{ 
        font-size: 24pt;
    }



    .mobile{ 
        display: none;
    }

    .pc{ 
        display: block;
    }

    .text_box a h2{ 
        color: #A90636;
        font-family: "Reggae One", serif;

    }

    

    #page_menu{ 
        height: 13vh;
    }

    

    #menu_pc_panel{
        display: grid;
        
        box-sizing: border-box;
        width: 400px;
        align-items: center;
        justify-content: center;
        
        

    }

    #menu_pc_panel nav{ 
        display: flex;
        align-items: start;
        justify-content: center;
        padding: 1rem;
        gap: 16px;
    }

    .grid_menu a h3{ 
        color: grey;
        letter-spacing: 1.5px;
        font-weight: 200;

    }

    .grid_menu a:hover h3{ 
        color: #A90636;
        
    }

    

    #search_color{ 
        width: 250px;
        height: 35px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: 10px;
        
        
    }

    #search_color input{ 
        width: 70%;
        font-size: 20px;
        padding: 5px;
    }

    #search_color input:placeholder-shown{ 
        font-size: 18px;
        
        
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 1.5pt;
        
    }

    .hint{ 
        width: 250px;
        position: fixed;
        font-size: 12px;
        top: 10vh;
        text-align: center;
    }

    #search_color i{ 
        
        font-size: 20px;
        
        
    }

    

    .menu{ 
        top: 13vh;
    }

    .menu ul{ 
        align-items: start;
        
        padding-left: 3rem;
    }

    .menu ul li a{ 
        font-size: 24px;
        font-weight: 200;
        text-align: start;
        letter-spacing: 1.5pt;

    }

    .exit i{ 
        font-size: 22px;
        
    }

    #page_footer{ 
        
        display: none;
    }

    #page_footer .mobile{ 
        display: none;
    }
    

    .pc_footer{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        padding: 2rem ;
       
        
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(79, 142, 230, 0.571) 100%);
        
    }

    .pc_footer h1{ 
        color: black;
        font-family: "Reggae One", serif;
        text-align: center;
        padding-bottom: 1rem;
    }

    .pc_footer hr{ 
        width: 50vw;
        
        line-height: 2px;
        border: 1px solid #4f8ee62b;
        border-radius: 5%;
        
    }

    #info{ 
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        width: 80vw;

        padding: 4rem 16rem;

    }
    .footer_info ul li h2{
        
        font-weight: 400;
        text-align: start;

    }

    .footer_info ul li a{
        color: black;
        font-family: "Kanit", serif;
        letter-spacing: 1.5px;
        font-weight: 200;
    }

    .footer_info ul{ 
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    #main_pages{ 
        align-items: start;
        top: 16vh;
        margin-bottom: 8rem;

    
        
    }

    #main_pages h2{ 
        padding-top: 1rem;
    }

    

    #main_pages h3{ 
        padding-bottom: 2rem;
        padding-top: 3rem;
    }
    #main_pages ul,ol li{ 
        font-size: 16pt;
        font-weight: lighter;
        padding-bottom: 0;
        
    }

    
    
    #main_about { 
        align-items: start;
        top: 13vh;
        width: 100vw;

        
        
        flex: 1 0 auto;
        
     
        
    }

    .about_first_part{ 
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: start;
        
        
    }




    

    .about_story{ 
        padding-left: 0;
        
        width: 90vw;
    }

    .about_story h2{ 
        font-size: 44pt;
        padding-left: 4rem;
    }

    .about_story h3{
        font-size: 32pt;
        padding-left: 4rem;
    }

    .about_story p{ 
        font-size: 16pt;
        font-weight: lighter;
        padding-bottom: 2rem;
        padding-left: 4rem;

    }

    #principle_img_box{ 
        max-width: 30%;
        
        overflow: cover;
        border: none;
        
    }

    .japan_colors{ 
        width: 60%;
        padding-top: 1rem;
    }
    

    .galery_box{ 
        padding-top: 2rem;
        padding-left: 4rem;
        display: inline-grid;
        grid-auto-rows: 300px;
        grid-auto-columns: 300px;
        max-width: 90vw;
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
        
    }

    [class^="grid-photo"] p{ 
        
        font-size: 16pt;
        padding-right: 116px;
        font-weight: lighter;
        color: black;
    }

    [class^="grid-photo"] img{ 
        width: 300px;
        height: 180px;
        flex: content;
    }


    .colors_box{ 
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, 300px, 1fr);
        padding: 4rem;
        gap: 2rem;

    }

    [class^="color_box"] .color{ 
        
        cursor: pointer;
        width: 150px;
        height: 150px;
        border: none;
        box-shadow: 0 0 4px 2px #4f8ee685;
        
    }

    [class^="color_box"] .color_buttons img{ 
        cursor: pointer;
        
    
        width: 35px;
        
    }
    [class^="color_box"] .color_buttons i{ 
        cursor: pointer;
        
        font-size: 25px;
        
    }



    #main_pages ul, ol{ 
        padding-left: 6rem;
    }


    .pallete_box{
        display: grid;
        grid-gap: 2rem;
        direction: column;
    
    
        max-width: 100vw;
        padding: 6rem, 3rem;
        grid-template-columns: repeat(2, minmax(500px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr))
     }


    


        

    
    
    



    



    
}



















    




