{% extends 'layout.html' %}

{% block head_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/colors.js')}}" defer></script>

{% endblock %}



{% block title %}Colors{% endblock %}



{% block content %}
<main id="main_pages">
            <h2>Colors</h2>
                        
            <div class="colors_box" >
                {% for item in all_data %}
                <div class="color_box">
                    <div class="color" id="{{ item['name'] }}" style="background-color: {{ item['rgb'] }}">
                        
                    </div>
                    
                </div>
                
                

                {% endfor %}
             
            </div>
           
            
</main>


{% endblock %}




