<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
    
    
    <!--Font Reggae One Static - google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Brush+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reggae+One&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />




    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/sakura_red.svg') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='scripts/script_home.js')}}" defer></script>
    <script src="{{ url_for('static', filename='scripts/post_collection.js')}}" defer></script>



    <title>Home</title>
</head>
<body>

    <section id="homepage">

        <header id="homepage_name">
            <h1>Art color picker</h1>
            <p>Find the best color combination inspired by Japanese art</p>


        </header>

        <main id="homepage_main">
            
            <button class="button circle_red" id="color_picker"> color  picker</button>
             
            <button class="button circle_blue" id="about"> about </button>
               
         
        </main>

        <footer id="homepage_footer">
            <hr>
            <p>&copy 2024 Art color picker by Ekaterina Gorbacheva</p>


        </footer>


    </section>




    
</body>
</html>