<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Font Reggae One Static - google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Brush+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reggae+One&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--animate -->
    <link     rel="stylesheet"     href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"   />

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/sakura_red.svg') }}" type="image/x-icon">

    <script src="{{ url_for('static', filename='scripts/script.js')}}" defer></script>
    <script src="{{ url_for('static', filename='scripts/search_color.js')}}" defer></script>
    <script src="{{ url_for('static', filename='scripts/post_collection.js')}}" defer></script>
    {% block head_scripts %} {% endblock %}

    <title>{% block title %}Art color picker{% endblock %}</title>
</head>
<body>

    {% include 'includes/icons.svg' %}
    
    <header id="page_menu">
            <!--<div class="i_box mobile" >
                <img id="home_button" 
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" 
                srcset="{{ url_for('static', filename='images/home.svg')}} 1100w" 
                alt="Home">
            </div>-->
            <div id="home_button">
                <svg>
                    <title>home</title>
                    <use href="#pagoda" >
                                    
                    </use>
                </svg>
            </div>
            <div class="text_box pc" >
                <h2 id="home_link" class="homepage_name">ART COLOR PICKER</h2>
            </div>
            
            <div id="menu_pc_panel" class="pc">
                <nav>
                    <ul>
                        <li class="grid_menu" id="palletes_link_pc">
                            <h3>PALETTES</h3>
                        </li>
                        <li class="grid_menu" id="random_link_pc"><h3>RANDOM</h3></li>
                        <li class="grid_menu" id="color_picker_pc"><h3>COLORS</h3></li>

                    </ul>
                    
                </nav>
                
                
                
            </div>
            <div id="search">
                <div id="search_color">
                    <input type="text" placeholder="Search color" maxlength="51" id="user_color">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                
                <span class="hint">Enter color name or HEX RGB like #A8006D</span>
                
            </div>

            

            <nav class="dropDown">
                <!--<input type="checkbox" id="menu-toggle">
                <label for="menu-toggle" class="menu_icon"></label> the old version--> 
                <i id='burger' class="fa-solid fa-ellipsis menu_icon"></i>           
             
                <ul class="enlaces animate__animated animate__fadeInRight" id="enlaces">
                    <li><a href="#" id="color_picker">COLORS</a></li>
                    <li><a href="#" id="all_palettes">PALETTES</a></li>
                    <li><a href="#" id="collection">COLLECTION</a></li>   
                    <li><a href="#" id="about">ABOUT</a></li>
                    <li><a href="#" id="service">SERVICE</a></li>
                    <li><a href="#" id="privacy">PRIVACY</a></li>
                    <!--<li><label for="menu-toggle" class="exit"><i class="fa-solid fa-xmark exit"></i></label></li>-->

                </ul>

            </nav>
            
            
            
    </header>

    {% block content %}
        
    {% endblock %}

    <div class="pc_footer">
            
            <h1>ART COLOR PICKER</h1>
            <hr>
            <div id="info">
                <div class="footer_info">
                    <ul>
                        <li><h2>Contacts</h3></li>
                        <li><a href="https://www.linkedin.com/in/katerina-gorbacheva-93717324a/" id="linkedin" target="_blank">Linkedin</a></li>
                        <li><a href="https://github.com/KaterinGorbachev/Art_color_picker.git" id="git" target="_blank">GitHub</a></li>
    
                    </ul>
                        
    
    
                </div>
                <div class="footer_info">
                    <ul>
                        <li><h2>Policy</h3></li>
                        <li>
                            <a href="{{ url_for('privacy') }}" id="privacy_pc">Privacy policy</a>
                        </li>
                        <li><a href="{{ url_for('service') }}" id="service_pc">Terms of service</a></li>
                    </ul>
                        
                            
                            
    
                        
    
                </div>
    

            </div>
                
            
    </div>

    <footer id="page_footer" >
            <nav class="mobile mobile_footer">
                <ul class="mobile footer_img">
                    <li>
                        <div class="footer-btn-container mobile">
                            <div class="footer-btn-box" id="palettes_btn">
                                <svg class="footer-btn">
                                <title>palettes</title>
                                <use href="#stones">
                                    
                                </use>
                            </svg>
                            <p>palettes</p>

                            </div>
                            

                        </div>
                    </li>
                    <li>
                        <div class="footer-btn-container mobile">
                            <div class="footer-btn-box" id="color_btn">
                                <svg class="footer-btn">
                                <title>colors</title>
                                <use href="#brush" transform="translate(0,6)">
                                    
                                </use>
                            </svg>
                            <p>colors</p>

                            </div>
                            

                        </div>
                    </li>
                    <li>
                        <div class="footer-btn-container mobile">
                            <div class="footer-btn-box" id="random">
                                <svg class="footer-btn">
                                <title>random</title>
                                <use href="#carp" >
                                    
                                </use>
                            </svg>
                            <p>random</p>

                            </div>
                            

                        </div>
                        
                    </li>
                    

                </ul>
                
                

            </nav>
            
            
            

            

    </footer>

</body>
</html>