{% extends 'layout.html' %}

{% block head_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/copy_color.js')}}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/collect.js')}}" defer></script>


{% endblock %}



{% block title %}Palettes{% endblock %}



{% block content %}

<main id="main_pages">
            <h2>Palettes for selected color</h2>
            
            
            <div class="box"> 
                {% for number, colors in palettes.items() %}

                <div class="palette_grp">
                    <div class="pallete_box" id ="{{ number }}">

                        {% for color in colors %}
                        <div class="color_info">
                            <div  style="background-color: {{ color['rgb'] }}"></div>
                            <button id="{{ color['rgb'] }}" class="copy_color">{{ color['rgb'] }}</button>
                            <p>{{ color['name'] }}</p>
                            
                        
                        
                            
                        
                        </div>

                        
                        {% endfor %}

                                    
                    
                    </div>
                    <div class="color_buttons">
                        <div class="color_btn like" id="{{ number }}"><img src="{{ url_for('static', filename='images/B_heart-outline.svg')}}" alt="save" ></div>
                        <div class="color_btn not_visible"><img src="{{ url_for('static', filename='images/B_heart-solid.svg')}}" alt="saved" ></div>
                        
                        <div class="color_btn"><img src="{{ url_for('static', filename='images/C_woodworking.svg')}}" alt="expand" class="expand-color"> </div>
                        
                        
                    </div>
                


                </div>

            
                
                
             
            {% endfor %}



            </div>
            
            
</main>



{% endblock %}





   

   